<nav class="nav has-shadow ">
  <div class="container">
    <div class="nav-left">
      <a class="nav-item" href='/'>ROAM</a>
    <div class="nav-right nav-menu">
      <% if(locals.session){ %>
        <a class="nav-item is-tab" href="/user/<%- locals.data.username %>">Profile</a>
        <a class="nav-item is-tab" href="/log_out">Log Out</a>
       <% } else { %>
        <a class="nav-item is-tab" href="/sign_in">Sign In</a>
        <a class="nav-item is-tab" href="/sign_up">Sign Up</a>
      <% } %>
    </div>
    </div>
  </div>
</nav>
