<nav class="nav has-shadow">
  <div class="container">
    <div class="nav-left">
      <a class="nav-item" href='/'>ROAM</a>
    <!-- <span class="nav-toggle">
      <span>Sign In</span>
      <span></span>
      <span></span>
    </span> -->
    <div class="nav-right nav-menu">
      <a href="/sign_in">Sign In</a>
      <a href="/sign_up">Sign Up</a>
      <a href="/log_out">Log Out</a>
    </div>
    </div>
  </div>
</nav>
