<div class="column is-one-quarter">
  <figure class="image is-128x128">
    <img src="https://lh5.googleusercontent.com/-DwdpNPl9tH0/TYmjZp6RuFI/AAAAAAAAFkc/Ry3lOTu7xY4/s1600/AWESOME+FACEBOOK+PROFILE+PICTURES1.jpg" />
  </figure>
  <h1>Hello <%- data.username %></h1>
  <h1> Joined <%-  data.created_at %></h1>
  <h1> Current City <%- data.current_city %></h1>
  <% if(locals.session.passport.user == locals.data.userId) { %>
    <a class="button is-primary">Edit Info</a>
  <% } %>
</div>
