<div class="column is-one-quarter">
  <figure class="image is128x128">
    <img src="https://lh5.googleusercontent.com/-DwdpNPl9tH0/TYmjZp6RuFI/AAAAAAAAFkc/Ry3lOTu7xY4/s1600/AWESOME+FACEBOOK+PROFILE+PICTURES1.jpg" />
  </figure>
  <h1>Hello <%- user.username %></h1>
  <h1> Joined <%-  user.created_at %></h1>
  <h1> Current City <%- user.current_city %></h1>
  <a class="button is-primary">Edit Info</a>
</div>
